.container {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 16px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; 
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-img {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  margin-top: 2rem;
}

.logo {
  width: 300px;
  height: auto;
}

.form-search {
  width: 100%;
}

.form-control {
  height: 2rem;
  width: 100%;
  border-radius: 1rem;
  border: none;
  color: #777;
}

.form-control:focus {
  border: 1px solid #3b8281;
  outline: none;
}

.form-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 0.5rem;
}

.form-filter select {
  width: 100%;
  padding: 0.2rem;
  border: 1px solid #ddd; 
  border-radius: 1rem;
  color: #777;
  background-color: white; 
  cursor: pointer;
}


.form-filter select:focus {
  border: 1px solid #3b8281; 
  outline: none;
}

.btn-primary {
  background-color: #3b8281;
  color: white;
  border: 1px solid white;
  border-radius: 1.5rem;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-primary:hover {
  color: #f4ba51;
  background-color: white;
  border-color: #f4ba51;
}

.card {
  width: calc(
    50% - 10px
  ); 
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  box-sizing: border-box; 
  margin-right: 10px; 
}

.card:last-child {
  margin-left: -10px; 
}

.card-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-text {
  color: #777;
}

.card-img-top {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.results{
  display: flex;
}

.no-results,
.elapsed-time{
  color:#3b8281;
  font-style: italic;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.pagination button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #3b8281;
  border: none;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
}

.pagination button:hover {
  background-color: grey;
}
