<footer class="footer">
  <div class="social-icons">
    <a href="#"><img src="assets/images/facebook.svg" alt="Facebook" /></a>
    <a href="#"><img src="assets/images/instagram.svg" alt="Instagram" /></a>
    <a href="#"><img src="assets/images/linkedin.svg" alt="LinkedIn" /></a>
    <a href="#"><img src="assets/images/youtube.svg" alt="YouTube" /></a>
    <a href="#"><img src="assets/images/twitter.svg" alt="Twitter" /></a>
  </div>

  <div class="footer-head">
    <img
      src="assets/images/Imart_imagotipo.svg"
      alt="Imart Logo"
      class="small-logo"
    />
  </div>
  
  <p class="copyright">Copyright © 2023 Jorge Cidre.</p>
  
  <div class="legal-links">
    <a href="#" class="legal-link">Información legal</a> |
    <a href="#" class="legal-link">Política de privacidad</a>
  </div>
</footer>
