<div class="container">
  <h1>Imart</h1>

  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="terminoBusqueda" placeholder="Introduce un término de búsqueda">
  </div>
  <button class="btn btn-primary" (click)="buscarImagenes()">Buscar</button>

  <div class="row">
    <div class="col-md-4" *ngFor="let imagen of resultados">
      <div class="card" (click)="verDetalle(imagen.id)">
        <a [routerLink]="['/imagen', imagen.id]">
          <img [src]="imagen.urls.small" class="card-img-top" alt="{{ imagen.alt_description }}">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{ imagen.description }}</h5>
          <p class="card-text">Autor: {{ imagen.user.username }}</p>
        </div>
      </div>
    </div>
  </div>


  <div class="pagination">
    <button class="btn btn-secondary" (click)="prevPage()" [disabled]="currentPage === 1">Página anterior</button>
    <ng-container *ngFor="let pageNumber of visiblePages">
      <button class="btn btn-secondary" (click)="goToPage(pageNumber)" [disabled]="pageNumber === currentPage">{{ pageNumber }}</button>
    </ng-container>
    <button class="btn btn-secondary" (click)="nextPage()" [disabled]="currentPage === totalPages">Página siguiente</button>
  </div>
</div>

