<footer class="footer">
  <header class="social-icons">
    <a href="https://www.linkedin.com/in/jorge-cidre-fern%C3%A1ndez/"><img src="assets/images/linkedin.svg" alt="LinkedIn" /></a>
    <a href="https://github.com/Lithuniel/Imart"><img src="assets/images/github.svg" alt="github" /></a>
    <a href="https://www.instagram.com/cidre_guitars/"><img src="assets/images/instagram.svg" alt="Instagram" /></a>
  </header>

  <main>
    <div class="footer-head">
      <a href="/">
        <img
          src="assets/images/Imart_imagotipo.svg"
          alt="Imart Logo"
          class="small-logo"
        />
      </a>
    </div>
  </main>
  
  <footer>
    <div class="legal-links">
      <a href="https://github.com/Lithuniel/Imart" class="legal-link">Github</a> |
      <a href="https://www.linkedin.com/in/jorge-cidre-fern%C3%A1ndez/" class="legal-link">Linkedin</a>
    </div>

    <p class="copyright">Copyright © 2023 Jorge Cidre.</p>
  </footer>
</footer>
